<div class="py-4 px-2 font-old hover:bg-gray-100 cursor-pointer border-t border-gray-200">
  <div class="flex item-center group">
    <div class="flex flex-1">
      <div>
        <span class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-300">JK</span>
      </div>
      <div class="ms-3 flex-1">
        <div class="text-sm text-gray-900">John Martin</div>
        <div class="text-sm font-normal text-gray-500 truncate">What are the updates about new project?</div>
      </div>
      <div class="inline-flex item-center text-xs text-gray-500 mt-2">
        3 days ago
      </div>
    </div>
    <div class="font-normal mt-2 hidden group-hover:inline-flex mx-3">
      <i class="ri-delete-bin-6-fill ri-lg text-red-600"></i>
    </div>
  </div>
</div>
